<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/add_author" method="post">
        {% csrf_token %}
        <div>
            <label for="">First Name</label>
            <input type="text" name="first_name">
        </div>
        <div>
            <label for="">Last Name</label>
            <input type="text" name="last_name">
        </div>
        <div>
            <label for="">Notes</label>
            <textarea name="notes" id="" cols="30" rows="10"></textarea>
        </div>
        <button>Add Author</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }} {{ author.last_name }}</td>
                <td>
                    <a href="/authors/{{ author.id }}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>